body{
  background-color: black;
  background-image: url('assets/BackgroundImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.product-card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  background: #8000698a;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.05);
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 320px; 
}
.product-card p{
  margin:0;
}
.buy-button {
  color: white;
  background-color: rgba(240, 255, 255, 0);
    margin-top: auto;
}
.buy-button:hover {
border: 1px solid white;
}
.productImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 12px auto;
  display: block;
  border: 2px solid #fff;
  overflow: hidden;
}